* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #F38181;
    border: none;
}

p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #B6B6B6;
}

h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.section-title {
    margin: 80px auto 0;
    text-align: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 17px;
    position: relative;
}

#toggle {
    display: none;
    cursor: pointer;
}

#toggle:checked ~ .menu {
    top: 50px;
}

#toggle:checked ~ label .toggle-btn {
    transform: rotate(45deg);
}

#toggle:checked ~ label .toggle-btn::before {
    top: 0;
}

#toggle:checked ~ label .toggle-btn::after {
    top: 0;
    transform: rotate(-90deg);
}

label {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
}

.toggle-btn {
    display: block;
    width: 30px;
    height: 1px;
    background: #95E1D3;
    position: absolute;
    top: 50%;
    transition: all .3s;
}

.toggle-btn::before {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: #95E1D3;
    position: absolute;
    top: -10px;
    transition: all .3s;
}

.toggle-btn::after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: #95E1D3;
    position: absolute;
    top: 10px;
    transition: all .3s;
}

.logo {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;
    z-index: 2;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-left: 55px;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.menu-link {
    padding-bottom: 10px;
    transition: .1s;
    color: #95E1D3;
}

.menu-link:hover {
    color: #F38181;
    border-bottom: 3px #F38181 solid;
}

@media (max-width: 768px) {
    label {
        display: block;
        z-index: 1;
    }

    .menu {
        position: absolute;
        width: 100%;
        top: -400%;
        left: 0;
        background: white;
        transition: top .8s;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin: 0 0 5px;
    }

    .menu-link:hover {
        border: none;
    }

    .menu-link {
        padding-bottom: 0;
    }
}

/* Services */

.uptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.section-title h2 {
    padding-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
}

.services-list {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    
}

.services-item {
    width: 33.333%;
    display: flex;
    align-items: flex-start;
    padding: 0 0 100px 35px;
}

.services-item img {
    margin-right: 20px;
}

.services-text h3 {
    padding-bottom: 20px;
}

.services-text p {
    line-height: 1.22em;
}

.under {
    margin-top: 45px;
    margin-bottom: 27px;
    text-align: center;
}

@media (max-width: 768px) {
    .services-item {
        width: 50%;
        padding: 0 0 70px 25px;
    }

    .services-text h3 {
        padding-bottom: 15px;
    }
}

@media (max-width: 425px) {
    .services-item {
        width: 100%;
        padding: 0 0 50px 15px;
    }

    .services-text h3 {
        padding-bottom: 10px;
    }

    .under {
        font-size: 0.8em;
    }
}

/* Man */

.cards {
    display: flex;
    gap: 15px;
}

.card-item {
    text-align: center;
    position: relative;
}

.card-img {
    display: block;
    width: 385px;
    max-width: 100%;
    height: auto;
}

/* .card-item::after {
    content: '';
    transform: .3s;
    opacity: 0;
    z-index: 1;
}

.card-item:hover::after {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
} */

.card-item h3 {
    padding: 30px 0 11px;
}

@media (max-width: 1024px) {
    .cards {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-item {
        margin-bottom: 50px;
    }
}

/* Footer */

.footer {
    margin-top: 80px;
    border-top: 1px solid  #B6B6B6 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-align: center;
}

.copyright a {
    color: #F38181;
}

.button {
    display: flex;
    margin: 10px 0;
}

.email {
    width: 230px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Roboto', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B6B6B6;
    border: 1px solid #B6B6B6;
    border-radius: 0;
}

.subscribe {
    width: 150px;
    height: 40px;
    border: none;
    background: #95E1D3;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: auto 0;
    font-variant: small-caps;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .button {
        flex-direction: column;
    }
    
    .subscribe {
        width: 230px;
    }
    
    .copyright {
        margin: 5px 0;
    }
}


